<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>MintLook</string>
		<key>UIImageName</key>
		<string>AppIcon</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.805015426943-iufj8240r6m7f4fam8o12mf7cnoj7ht6</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>805015426943-iufj8240r6m7f4fam8o12mf7cnoj7ht6.apps.googleusercontent.com</string>
</dict>
</plist>
